<div class="col-md-6 col-lg-4">
  <div class="card card-blog card-atv">
    <div class="card-image">
      <%= link_to section_path(section) do %>
        <div class="atvImg">
          <%= image_tag "https://ws4.sinaimg.cn/large/006tNbRwgy1fgn4phcnn2j30go0cit9s.jpg" %>
        </div>
      <% end %>
    </div>

    <div class="card-content">
      <h4 class="card-title">
        <%= link_to section.name, section_path(section) %>
      </h4>
      <p class="card-description">
        <%= render_text(section.description, 30) %>
      </p>
      <div class="footer">
        <%= link_to "开始章节", section_path(section), class: "btn btn-round btn-info" %>
      </div>
    </div>
  </div>
</div>
