<div class="col-sm-5 col-md-4 member-bg">
  <div class="member">
    <%= render_member_header(@member) %>
    <div class="member-content">
      <div class="member-avatar"><%= link_to(render_avatar(@member, "avatar"), member_invitations_path(@member)) %></div>
      <h4 class="member-title"><%= render_name(@member) %></h4>
      <p class="member-email"><%= render_email(@member) %></p>
      <div class="member-role btn-group">
        <% if @member.gender == "男" %>
          <i class="fa fa-mars gender-male btn btn-default" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-venus gender-female btn btn-default" aria-hidden="true"></i>
        <% end %>
        <% if @member.role == "老师" %>
          <span class="role-teacher btn btn-default">Teacher</span>
        <% else %>
          <span class="role-student btn btn-default">Student</span>
        <% end %>
      </div>
      <div class="member-social">
        <div class="btn-group" role="group">
          <%= link_to(render_invitations(@member), member_invitations_path(@member), class: "btn btn-default") %>
          <%= link_to(render_evaluations(@member), member_evaluations_path(@member), class: "btn btn-default") %>
        </div>
        <div class="social-status page-header">
          <h4>
            <small>共收到</small>
            <%= count_to_s(@member.invitations_count) %>
            <small>个约 / </small>
            <%= count_to_s(@member.evaluations_count) %>
            <small>个评价</small>
          </h4>
        </div>
      </div>
      <div class="member-links">
        <a href="<%= @member.logdown %>" class="member-link"><%= image_tag('logdown_logo.png') %></a>
        <a href="<%= @member.github %>" class="member-link"><%= image_tag('github_logo.png') %></a>
      </div>
      <div class="member-wechat">
        <%= image_tag('wx_logo.png') %> <%= @member.wechat %>
      </div>
    </div>
  </div>
</div>
